Source: ros-hydro-moveit-fake-controller-manager
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-moveit-core, ros-hydro-pluginlib, ros-hydro-roscpp
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-fake-controller-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-moveit-core, ros-hydro-pluginlib, ros-hydro-roscpp
Description: A fake controller manager plugin for MoveIt.
